.cep-field {grid-area: buscarcep;}
.weather-info {grid-area: weather-info;}
.pokemon-info {grid-area: pokemon-info;}

.content {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "buscarcep buscarcep"
    "weather-info pokemon-info"
    "contact contact";
    margin: 30px 0;
}

.pokeweather-utils {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
}