:root {
    --body-background: #fdfcfc;;
    --background : #fff5f5;
    --border-color: #ebe0e0;
    --primary-color: #d85a7a;
    --secondary-color: #5790c9;
    --water-color: #6ec8f0;
    --soft-color: #f48fab;
    --font-color: #281515;
    --radius: 16px;
}