.content {
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 30px;
}

.weather-info {
    position: sticky;
    top: 110px;
}

.box {
    background-color: var(--background);
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    padding: 12px;
    font-size: 15px;
    margin: 0 15px;
}

.box ul {
    list-style: none;
    margin-bottom: 25px;
}

.box li {
    border-bottom: 2px solid var(--border-color);
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

.box blockquote {
    border-left: 2px solid var(--border-color);
    padding-left: 10px;
    margin-bottom: 25px;
}

.weather-variables {
    display: flex;
    flex-direction: column;
}

.weather-variables h4 {
    align-self: center;
    margin-bottom: 8px;
}

.weather-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

.weather-icon figcaption {
    font-size: 12px;
}

.pokemon-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.pokemon-info p {
    margin: 10px 15px;
} 

.pokemon-info h3 {
    margin-top: 15px;
}

.daily-pokemon {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daily-pokemon h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

.daily-pokemon p {
    margin-bottom: 5px;
}

.daily-pokemon img {
    width: 120px;
    visibility: hidden;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about h2 {
    margin: 10px 0;
}

.about img {
    padding: 20px;
}

.contact h2 {
    margin: 0;
}

@media (max-width: 768px) {

    .weather-info {
        position: static;
        margin-bottom: 30px;
    }

    .about {
        margin-bottom: 30px;
    }
}