.cep-field {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form {
    display: flex;
    gap: 6px;
}
.form input{
    outline: none;
    border-radius: var(--radius);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    color: var(--font-color);
    font-family: 'Cherry-Bomb';
}

.form input:focus {
    border-color: var(--primary-color);
}

.contact .form {
    display: flex;
    flex-direction: column;
}

.contact .form h2 {
    align-self: center;
}

.contact label {
    margin-top: 15px;
}

.contact textarea {
    outline: none;
    padding: 5px;
    font-family: "Dyna-Puff";
    font-size: 11px;
    resize: none;
    height: 60px;
    border: 1px solid var(--secondary-color);
    color: var(--font-color);
    border-radius: var(--radius);
}

.contact textarea:focus {
    border-color: var(--primary-color);
}